In [2]:
import numpy as np
import pandas as pd

In [6]:
movies = pd.read_csv('imdb-top-1000.csv')

In [8]:
movies.head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0

In [10]:
genres  = movies.groupby('Genre')
genres

In [12]:
# Applying builtin aggregation fuctions on groupby objects

In [14]:
# find the top 3 genres by total earning

In [16]:
# find the genre with highest avg IMDB rating

In [18]:
# find director with most popularity

In [22]:
# find the highest rated movie of each genre

In [24]:
# find number of movies done by each actor

In [26]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [28]:
# looping on groups

In [30]:
# split (apply) combine
# apply -> builtin function

In [32]:
# find number of movies starting with A for each group

In [34]:
# find normalized IMDB rating group wise

In [36]:
# groupby on multiple cols

In [38]:
# find the most earning actor->director combo

In [40]:
# find the best(in-terms of metascore(avg)) actor->genre combo

In [42]:
# agg on multiple groupby

In [44]:
# find the top 10 batsman in terms of runs

In [46]:
# find the batsman with max no of sixes

In [48]:
# find batsman with most number of 4's and 6's in last 5 overs

In [50]:
# find V Kohli's record against all teams